modules = ["nodejs-20", "python-3.11"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PharmaPOS App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "PharmaPOS App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/ReplitExport-leasemasterpulszip/ReplitExport-bam254thzip/Pharma-POS-Manager && PORT=5000 BASE_PATH=/ pnpm --filter @workspace/pharma-pos run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/ReplitExport-leasemasterpulszip/ReplitExport-bam254thzip/Pharma-POS-Manager/artifacts/api-server && PORT=8080 node --enable-source-maps ./dist/index.mjs"
waitForPort = 8080

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081
